bin/
obj/
obj/Debug/net5.0/PortalWeb.assets.cache
bin/Debug/net5.0/PortalWeb.dll
bin/Debug/net5.0/PortalWeb.pdb
bin/Debug/net5.0/PortalWeb.runtimeconfig.dev.json
bin/Debug/net5.0/PortalWeb.Views.dll
bin/Debug/net5.0/PortalWeb.Views.pdb
obj/Debug/net5.0/PortalWeb.assets.cache
obj/Debug/net5.0/PortalWeb.csproj.AssemblyReference.cache
obj/Debug/net5.0/PortalWeb.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/PortalWeb.dll
obj/Debug/net5.0/PortalWeb.genruntimeconfig.cache
obj/Debug/net5.0/PortalWeb.pdb
obj/Debug/net5.0/PortalWeb.Views.dll
obj/Debug/net5.0/PortalWeb.Views.pdb
obj/Debug/net5.0/Razor/Pages/_ViewImports.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/_ViewStart.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Documents.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Error.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Index.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Login.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Privacy.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Shared/_ValidationScriptsPartial.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Test.cshtml.g.cs
obj/PortalWeb.csproj.nuget.dgspec.json
obj/PortalWeb.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
