bin/
obj/
bin/Debug/net5.0/PortalWeb.dll
bin/Debug/net5.0/PortalWeb.pdb
bin/Debug/net5.0/PortalWeb.Views.dll
bin/Debug/net5.0/PortalWeb.Views.pdb
obj/Debug/net5.0/PortalWeb.dll
obj/Debug/net5.0/PortalWeb.pdb
obj/Debug/net5.0/PortalWeb.Views.dll
obj/Debug/net5.0/PortalWeb.Views.pdb
obj/Debug/net5.0/project.razor.json
obj/Debug/net5.0/Razor/Pages/Privacy.cshtml.g.cs
obj/Debug/net5.0/Razor/Pages/Shared/_Layout.cshtml.g.cs
