@page
@model DeliveryProcess
@{
    ViewBag.Title = "orders";
}

<div id="modals">
    <partial name="~/Pages/Shared/PartialViews/DeliveryModals/_AcceptedOrdersModal.cshtml" />
</div>


<div class="my-3 container-fluid d-flex justify-content-center">
    <div>
        <h3>Sevkiyat Islemleri</h3>
    </div>
</div>
<div class="orders-content">
    <partial name="~/Pages/Shared/PartialViews/_DeliveryFilterSectionPartialView.cshtml" />

    <div class="action-section">
        <button id="acceptModalToggleButton" class="btn btn-sm btn-primary rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-bookmark"></span>
            <span class="btn-title">Etiket Bas</span>
        </button>
        <button id="cancelModalToggleButton" class="btn btn-sm btn-danger rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-ban"></span>
            <span class="btn-title">Sipariş İptal</span>
        </button>
        <button id="refreshGridButton" class="btn btn-sm btn-success rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-sync"></span>
            <span class="btn-title">Tabloyu Yenile</span>
        </button>
    </div>

    <div class="table-section">
        <div id="deliveryGridContainer"></div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>


<script src="~/js/dataGrid.js" asp-append-version="true"></script>
<script src="~/js/orders/orders.js" asp-append-version="true"></script>
<script src="~/js/delivery/delivery.js" asp-append-version="true"></script>
<script src="~/js/delivery/deliveryProcess.js" asp-append-version="true"></script>
