<div class="filter-section">
    <div class="filter-form">
        <div class="text-inputs-field">
            <div class="filter-heading">Arama Kriterleri</div>
            <div class="mat-input-inline-group">
                <div class="row">
                    <div class="col">
                        <div class="mat-input mat-text mb-1">
                            <input id="asn" type="text">
                            <span class="placeholder">ASN No</span>
                            <span class="input-border"></span>
                        </div>
                        <div class="mat-input dx-field">
                            <div class="dx-field-label">ASN Tarihi</div>
                            <div class="dx-field-value">
                                <div id="asnDate"></div>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div>
                            <button id="newAsnButton" class="btn btn-primary">
                                Yeni ASN Olustur
                            </button>
                            <button id="selectAsnButton" class="btn btn-primary">
                                ASN Seç
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="filter-section">
    <div class="filter-form">
        <div class="text-inputs-field">
            <div class="filter-heading">Arama Kriterleri</div>
            <div class="mat-input-inline-group">
                <div class="col">
                    <div class="row">
                        <div class="col mat-input mat-text">
                            <input id="productName" type="text">
                            <span class="placeholder">Urun Adi</span>
                            <span class="input-border"></span>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#chooseProductsModal">
                                Urun Sec
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mat-input mat-text">
                            <input id="quantity" type="text">
                            <span class="placeholder">Urun Miktari</span>
                            <span class="input-border"></span>
                        </div>
                        <div class="col mat-input mat-text">
                            <input id="lot" type="text">
                            <span class="placeholder">LOT</span>
                            <span class="input-border"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="m-2">
                            <button id="fileAttachmentButton" class="btn btn-primary">
                                Dosya Eklerini Sec
                            </button>
                            <input type="file" id="fileAttachment" style="display: none;" multiple />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="action-footer">
        <button id="searchButton" class="btn btn-sm btn-outline-primary rounded-pill ripple-fx">
            <span class="btn-icon fas fa-tasks"></span>
            <span class="btn-title">Tamam</span>
        </button>
    </div>
</div>