<style>
    .myColName {
        width: 30mm;
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: small;
    }

    ;

    .myColValue {
        width: 60mm;
        font-size: small;
        font-family: 'Open Sans';
    }

    ;

    .printArea {
        width: 95mm;
        height: 95mm;
    }
</style>

<div class="modal fade" id="printDialog" role="dialog" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Print</h5>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span class="fa fa-times"></span>
                </button>
            </div>
            <div class="modal-body">
                <div id="printArea" class="printArea">
                    <svg id="barcode"></svg>
                    <div id="labelTable">
                        <div class="row">
                            <div class="col-4 border-dark myColName">Sevkiyat No:</div>
                            <div id="printPackage" class="col-8 border-dark myColValue">701480-2021-00159</div>
                        </div>
                        <div class="row">
                            <div class="col-4 border-dark myColName">Sipariş No:</div>
                            <div id="printOrderNo" class="col-8 border-dark myColValue">P00000000024334</div>
                        </div>
                        <div class="row">
                            <div class="col-4 border-dark myColName">Ürün Kodu:</div>
                            <div id="printSku" class="col-8 border-dark myColValue">K00366</div>
                        </div>
                        <div class="row">
                            <div class="col-4 border-dark myColName">Ürün:</div>
                            <div id="printSkuName" class="col-8 border-dark myColValue">PULL START 405.20.16.7.IK</div>
                        </div>
                        <div class="row">
                            <div class="col-4 border-dark myColName">Miktar:</div>
                            <div id="printQuantity" class="col-8 border-dark myColValue">15<span>-</span><span>ADET</span></div>
                        </div>
                        <div class="row">
                            <div class="col-4 border-dark myColName">Lot:</div>
                            <div id="printLot" class="col-8 border-dark myColValue">L0001</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 border-dark myColName">Gönderen:</div>
                        <div id="printVendor" class="col-8 border-dark myColValue">TRİO KES.TKM.LAR HIRD.MÜH.HİZ.MAK.SAN.VE TİC.LTD.ŞTİ.</div>
                    </div>

                    </br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button id="printLabelButton" class="btn btn-sm btn-primary rounded-pill ripple-fx no-border">
                    <span class="btn-icon fas fa-bookmark"></span>
                    <span class="btn-title">Print</span>
                </button>
            </div>
        </div>
    </div>
</div>
