
    @page {
        size: 100mm 100mm;
        margin: 5mm 5mm 5mm 5mm;   
    }    
    .body {
        width: 95mm;height: 95mm; 
    }
    .printArea { 
        width: 95mm;height: 95mm; 
    } 
    
   
    
    .myColName { 
        width: 30mm; 
        font-family: 'Open Sans';
        font-weight: bold;
        font-size: small;
    };
    .myColValue { 
        width: 60mm;
        font-size: small;
        font-family: 'Open Sans';    
    };
  


