@page
@model OrdersModel
@{
    ViewBag.Title = "Belgeler";
}


<button id="select-button">Select and upload files</button>
<input type="file" id="file-input" multiple style="display: none;" />


<script src="~/lib/azurestoragejs.blob-10.5.0/azure-storage-blob.js" asp-append-version="true"></script>
<script src="~/js/document.js" charset="utf-8" asp-append-version="true"></script>