@page
@model IndexModel
@{
    ViewBag.Title="main-page dashboard";
}

<div class="dashboard-content">

            
    <div class="row">

        
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150</h3>

                <p>Bekleyen Siparişler</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="/waitingorders" class="small-box-footer">Daha fazla bilgi <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>3<sup style="font-size: 20px">%</sup></h3>

                <p>Kabul Edilen Siparişler</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/readyorders" class="small-box-footer">Daha fazla bilgi <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        
         <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>44</h3>

                <p>Askıda Bekleyen Siparişler</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="/suspendedorders" class="small-box-footer">Daha fazla bilgi<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

            
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>65</h3>

                <p>İptal Edilen Siparişler</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="/cancelledorders" class="small-box-footer">Daha fazla bilgi <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

  
     
    

 
    </div>     
      <div class="row">
        <div class="dx-viewport col-4">
        <div class="demo-container">
                <div id="chart-demo">
                    <div id="pie"></div>
                    
                </div>
            </div>
        </div>

        <div class="dx-viewport col-8">
                <div class="demo-container">
                    <div id="chart"></div>
                </div>
        </div>

    </div>
    <h3>Takvim</h3>
     <div class="demo-container">
        <div id="scheduler"></div>
    </div>

</div>
<script src="js/dashboard.js"></script>