@page
@model IndexModel
@{
    ViewBag.Title="panelMenuItem dashboard";
}

<div class="dashboard-content">

            
    <div class="row">

        
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3><span id="waitingOrderInfoBox">-</span> </h3>

                <p>Bekleyen Siparişler</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="Orders/waitingorders" class="small-box-footer">Daha fazla bilgi <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3><span id="readyOrderInfoBox">-</span></h3>

                <p>Kabul Edilen Siparişler</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="Orders/readyorders" class="small-box-footer">Daha fazla bilgi <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
        
         <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3><span id="suspendedOrderInfoBox">-</span></h3>

                <p>Askıda Bekleyen Siparişler</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="Orders/suspendedorders" class="small-box-footer">Daha fazla bilgi<i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

            
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                 <h3><span id="cancelledOrderInfoBox">-</span></h3>

                <p>İptal Edilen Siparişler</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="Orders/cancelledorders" class="small-box-footer">Daha fazla bilgi <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>

  
     
    

 
    </div>     
      <div class="row">
      
        <h5>Tedarikçi Performans Grafiği</h5>
        <div class="dx-viewport col-12">
                <div class="demo-container">
                    <div id="chart"></div>
                </div>
        </div>
        

    </div>
    <h5>Sipariş Takvimi</h5>
     <div class="demo-container">
        <div id="scheduler"></div>
    </div>

</div>
<script src="js/dashboard.js"></script>