@page
@model OrdersModel
@{
    ViewBag.Title = "orders";
}
<div class="orders-content">

    <div class="filter-section">
        <div class="filter-form">
            <div class="text-inputs-field col">
                <div class="filter-heading">Filter by Attributes</div>
                <div class="mat-input-inline-group">
                    <div class="mat-input mat-text">
                        <input type="date">
                        <span class="placeholder">Tarih Başlangıç</span>
                        <span class="input-border"></span>
                    </div>
                    <div class="mat-input mat-text">
                        <input type="date">
                        <span class="placeholder">Tarih Bitiş</span>
                        <span class="input-border"></span>
                    </div>
                </div>
                <div class="mat-input mat-text">
                    <input type="text">
                    <span class="placeholder">Sipariş No</span>
                    <span class="input-border"></span>
                </div>
                <div class="mat-input mat-text">
                    <input type="text">
                    <span class="placeholder">Ürün Adı</span>
                    <span class="input-border"></span>
                </div>
            </div>
            <div class="checkboxes-field col-auto">
                <div class="filter-heading">Filter by Status</div>
                <label class="mat-input mat-checkbox">
                    <input type="checkbox">
                    <span class="checkbox"></span>
                    <span class="label-text">Yeni</span>
                </label>
                <label class="mat-input mat-checkbox">
                    <input type="checkbox">
                    <span class="checkbox"></span>
                    <span class="label-text">Beklemede</span>
                </label>
                <label class="mat-input mat-checkbox">
                    <input type="checkbox">
                    <span class="checkbox"></span>
                    <span class="label-text">İptal</span>
                </label>
                <label class="mat-input mat-checkbox">
                    <input type="checkbox">
                    <span class="checkbox"></span>
                    <span class="label-text">Kabul</span>
                </label>
            </div>
        </div>
        <div class="action-footer">
            <button class="btn btn-sm btn-outline-primary rounded-pill ripple-fx">
                <span class="btn-icon fas fa-tasks"></span>
                <span class="btn-title">Tamam</span>
            </button>
        </div>
    </div>

    <div class="action-section">
        <button class="btn btn-sm btn-primary rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-bookmark"></span>
            <span class="btn-title">Sipariş Kabul</span>
        </button>
        <button class="btn btn-sm btn-danger rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-ban"></span>
            <span class="btn-title">Sipariş İptal</span>
        </button>
        <button class="btn btn-sm btn-secondary rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-hourglass"></span>
            <span class="btn-title">Beklemeye Al</span>
        </button>
        <button class="btn btn-sm btn-success rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-check"></span>
            <span class="btn-title">Sevk Hazır</span>
        </button>
        <button class="btn btn-sm btn-warning rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-exclamation-triangle"></span>
            <span class="btn-title">Warning Button</span>
        </button>
        <button class="btn btn-sm btn-info rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-info-circle"></span>
            <span class="btn-title">Info Button</span>
        </button>
        <button class="btn btn-sm btn-light rounded-pill ripple-fx no-border">
            <span class="btn-icon far fa-moon"></span>
            <span class="btn-title">Light Button</span>
        </button>
        <button class="btn btn-sm btn-dark rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-moon"></span>
            <span class="btn-title">Dark Button</span>
        </button>
        <button class="btn btn-sm btn-link rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-link"></span>
            <span class="btn-title">Link Button</span>
        </button>
    </div>

    <div class="table-section">
        <div id="gridContainer"></div>
    </div>
</div>

<script src="~/js/orders.js" asp-append-version = "true"></script>
