<div class="modal fade" id="acceptModal" role="dialog" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sipariş Kabul</h5>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span class="fa fa-times"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button id="acceptButton" class="btn btn-sm btn-primary rounded-pill ripple-fx no-border">
                    <span class="btn-icon fas fa-bookmark"></span>
                    <span class="btn-title">Sipariş Kabul</span>
                </button>
            </div>
        </div>
    </div>
</div>