<div class="modal fade" id="cancelModal" role="dialog" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sipariş İptal</h5>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">
                    <span class="fa fa-times"></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                </div>
                <span>Neden: </span>
                <input type="text" id="cancelReasonText" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button id="cancelButton" class="btn btn-sm btn-danger rounded-pill ripple-fx no-border">
                    <span class="btn-icon fas fa-ban"></span>
                    <span class="btn-title">Sipariş İptal</span>
                </button>
            </div>
        </div>
    </div>
</div>