@page
@model QualityDocument
@{
    ViewBag.Title = "orders";
}

<div id="modals">

</div>


<div class="my-3 container-fluid d-flex justify-content-center">
    <div>
        <h3>Kalite Belgeleri</h3>
    </div>
</div>
<div class="orders-content">
    <partial name="~/Pages/Shared/PartialViews/_DocumentCreateSectionPartialView.cshtml" />

    <div class="action-section">
        <button id="deleteItemButton" class="btn btn-sm btn-danger rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-ban"></span>
            <span class="btn-title">Sil</span>
        </button>
        
        <button id="refreshGridButton" class="btn btn-sm btn-success rounded-pill ripple-fx no-border">
            <span class="btn-icon fas fa-sync"></span>
            <span class="btn-title">Tabloyu Yenile</span>
        </button>
    </div>

    <div class="table-section">
        <div id="documentGridContainer"></div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/3.3.1/exceljs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>


<script src="~/lib/azurestoragejs.blob-10.5.0/azure-storage-blob.js" asp-append-version="true"></script>


<script src="~/js/dataGrid.js" asp-append-version="true"></script>
<script src="~/js/documents/documentGrid.js" asp-append-version="true"></script>
<script src="~/js/documents/documentUploader.js" asp-append-version="true"></script>
<script src="~/js/documents/qualityDocuments.js" asp-append-version="true"></script>
